
@(product: Form[CreateProductForm], category: Seq[Category])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
	@request.messages(key)
}

@main("Welcome to Ebiznes") {
	@form(routes.ProductController.addProduct()) {
		@inputText(product("name"))
		@inputText(product("description"))

		<select name="category" id="category">
		@for(cat <- category){
			<option value="@cat.id">@cat.name</option>
		}
		</select>


		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add Product"/>
		</div>
	}

}

<html>
	<a href='@routes.ProductController.getProducts()'>Get Products</a>
	<a href='@routes.CategoryController.getCategories()'>Get Categories</a>
	<a href='@routes.CategoryController.index()'>Add Categories</a>
	<a href='@routes.BasketaController.getBasketa()'>Get Baskets</a>
	<a href='@routes.BasketaController.index()'>Add Basket</a>
	<a href='@routes.BasketProductController.getBasketProducts()'>Get Basket products</a>
	<a href='@routes.BasketProductController.index()'>Add Basket products</a>
	<a href='@routes.OpinionsController.getOpinions()'>Get opinions</a>
	<a href='@routes.OpinionsController.index()'>Add opinion</a>
	<a href='@routes.PaymentController.getPayments()'>Get payments</a>
	<a href='@routes.PaymentController.index()'>Add payments</a>
	<a href='@routes.KeywordController.getKeywords()'>Get keywords</a>
	<a href='@routes.KeywordController.index()'>Add keyword</a>
	<a href='@routes.OrdersController.getOrders()'>Get orders</a>
	<a href='@routes.OrdersController.index()'>Add orders</a>
</html>
